<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <title>Ned Ned's Cheese Emporium</title>
    </head>
    <body>
        <h1>Ned Ned's Cheese Emporium</h1>
        <p>Are you in France or in the UK?</p>
        <img src="france.gif"></img>
        <img src="england.jpg"></img>
    </body>
</html>
