<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <title>Ned Ned's Cheese Emporium</title>
    </head>
    <body>
        <h1>Ned Ned's Cheese Emporium</h1>
        <p>Today you can buy <%= @final %> blocks of cheese for £19.99 <%= "\u{1F9C0}" * @final %>.</p>
    </body>
</html>
